@{
    ViewBag.Title = "Home Page";
}

@{Html.RenderAction("index", "Approval");}
<br />
@{Html.RenderAction("pendingRequest", "Approval");}

@*<div class="ork-Home-Image">
    <img src="~/Assets/images/Approval.jpg" class="img-responsive" width="100%" />
</div>
<div class="green-dots-container" style="opacity: 1; width: 100%;"></div>
<div class="row">
    <div class="col-md-7">
        <div class="ork-Content">
            <h2 class="secondary-headline">Gestión de aprobaciones</h2>
            <p class="secondary-headline green-title">
                Bienvenido! Con esta herramienta, usted podrá gestionar sus aprobaciones de forma sencilla y rapida. Ingrese su usuario y contraseña para acceder a la aplicación.
            </p>
        </div>
    </div>
    <div class="col-md-5">
        <div class="ork-Content">
            <h2 class="secondary-headline">Ingreso</h2>
            
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>*@